<!-- Horizontal form modal -->
<div id="modal_form_horizontal" class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h5 class="modal-title">レビュー</h5>
      </div>

      <form class="form-horizontal" action="#">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-8">
              <fieldset>
                <div class="form-group">
                  <label class="col-lg-3 control-label">依頼元企業:</label>
                  <div class="col-lg-9">
                    <input type="text" class="form-control" value="(有)八巻畳工業" disabled="true">
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-lg-3 control-label">依頼先企業:</label>
                  <div class="col-lg-9">
                    <input type="text" class="form-control" value="依頼先企業1" disabled="true">
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-lg-3 control-label">案件名:</label>
                  <div class="col-lg-9">
                    <input type="text" class="form-control" value="団地の畳表替え" disabled="true">
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-lg-3 control-label">タイトル:</label>
                  <div class="col-lg-9">
                    <input type="text" class="form-control" placeholder="タイトル">
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-lg-3 control-label">本文:</label>
                  <div class="col-lg-9">
                    <textarea rows="10" cols="5" class="form-control" placeholder="詳細"></textarea>
                  </div>
                </div>
              </fieldset>
            </div>

            <div class="col-md-4">
              <fieldset>
                <div class="form-group">
                  <label>対応の丁寧さ: </label><br>
                  <input type="text" value="" class="touchspin-empty">
                </div>

                <div class="form-group">
                  <label>契約までの速さ: </label><br>
                  <input type="text" value="" class="touchspin-empty">
                </div>

                <div class="form-group">
                  <label>仕上がりの丁寧さ: </label><br>
                  <input type="text" value="" class="touchspin-empty">
                </div>

                <div class="form-group">
                  <label>納品までの早さ: </label><br>
                  <input type="text" value="" class="touchspin-empty">
                </div>

                <div class="form-group">
                  <label>価格: </label><br>
                  <input type="text" value="" class="touchspin-empty">
                </div>
              </fieldset>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-link" data-dismiss="modal">閉じる</button>
            <button type="submit" class="btn btn-primary">保存する</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- /horizontal form modal -->
